<div class="cta-right-content">
				<div class="responsive-video-emmbed">
					<iframe width="500" height="350" src="https://www.youtube.com/embed/{{section.settings.video_id}}?rel=0"></iframe>

				</div>
				<h3>{{ section.settings.video_title }}</h3>
				<p>{{ section.settings.video_content }}</p> 
			</div>
 